body {
  height: 1000px;
}
#myDiv {
  position: absolute;
  border: 1px solid #333333;
  border-radius: 5px;
  width: 1000px;
  min-width: 400px;
  left: 10px;
  top: 500px;
}
.fa-lock {
  margin-right: 5px;
}
#myMiddleTable {
  position: absolute;
  border: 1px solid #333333;
  border-radius: 5px;
  width: 600px;
  min-width: 400px;
  left: 10px;
  top: 10px;
  box-shadow: 3px 3px 10px #999999;
}
.search-bar-container {
  border-bottom: 1px solid #999999;
  width: 95%;
  margin: auto;
}
.search-bar {
  -web-kit-appearance: none;
  border: 1px solid #333333;
  border-radius: 5px;
  width: 50%;
  margin: 5px 2px;
}
.search-bar-container i.fa {
  float: right;
  position: relative;
  margin: 10px 0px 0 8px;
}
.pageBtn-left {
  float: left;
  width: 3%;
  margin-left: 3px;
}
.page-middle {
  margin-top: 170px;
}
.pageBtn-right {
  float: right;
  width: 2%;
  margin-right: 3px;
}
.infoCardContainer {
  width: 92.5%;
  margin: auto;
  float: left;
}
.avatar img {
  border-radius: 40px;
  width: 45px;
  height: 45px;
}
.infoCard {
  float: left;
  border: 1px solid #999999;
  box-shadow: 3px 3px 10px #999999;
  width: 19%;
  height: 160px;
  text-align: center;
  margin-top: 12px;
  margin-left: 1%;
  padding-top: 7px;
}
.infoCard span {
  font-size: 10px;
  display: block;
  margin-top: 3px;
}
.Pagination-container {
  margin: 5px 0;
  float: left;
  width: 100%;
  text-align: center;
}
/* 通用class定义 */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.div-header {
  border-bottom: 1px solid #000;
}
.padding-10px {
  padding: 10px;
  padding-left: 16px;
}
.padding-left-10px {
  padding-left: 10px;
}
.padding-right-10px {
  padding-right: 10px;
}
.top-move-3px {
  position: relative;
  top: -3px;
}
.top-move-20px {
  position: relative;
  top: -20px;
}
.remove-default-style {
  -web-kit-appearance: none;
  -moz-appearance: none;
}
.search-input {
  border: 1px solid #333333;
  border-radius: 5px;
  width: 400px;
}
.border-bottom-and-top {
  border-bottom: 1px solid #333333;
  border-top: 1px solid #333333;
}
