/*
 * @Author: zzx &amp; lh 
 * @Date: 2018-04-03 21:39:14 
 * @Last Modified by: zzx
 * @Last Modified time: 2018-04-03 22:05:17
 */

/*          非通用css          */

/* staff-info */
#staff-info {
  position: absolute;
  left: 0px;
  top: 100px;
  width: 790px;
  min-width: 360px;
  background-color: #f9f9f9;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 1px 3px #bcbcbc;
  z-index: 500;
}
.staff-name {
  font-size: 20px;
}
.join-time-title {
  font-size: 13px;
}
.join-time {
  font-size: 12px;
  position: relative;
  bottom: 4px;
}
.staff-status {
  padding: 5px;
  color: #fff;
  position: relative;
  bottom: 7px;
}

/* equipment-info */
#equipment-info {
  position: absolute;
  left: 200px;
  top: 100px;
  width: 790px;
  min-width: 360px;
  background-color: #f9f9f9;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 1px 3px #bcbcbc;
  z-index: 300;
}

/* warning-info */
#warning-info {
  position: absolute;
  left: 200px;
  top: 200px;
  width: 790px;
  min-width: 360px;
  background-color: #f9f9f9;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 1px 3px #bcbcbc;
  z-index: 400;
}

/* 信息卡片css */
.info-card {
  float: left;
  background-color: #fff;
  width: 130px;
  height: 160px;
  text-align: center;
  padding-top: 18px;
  margin: 20px 0 0px 20px;
  box-shadow: 0 1px 3px #bcbcbc;
}
.equipment-info-card {
  float: left;
  background-color: #fff;
  width: 130px;
  height: 150px;
  text-align: center;
  padding-top: 10px;
  margin: 20px 0 0px 20px;
  box-shadow: 0 1px 3px #bcbcbc;
}
.equipment-bind-icon{
  position: relative;
  left:50px;
  top:-5px;
}
/* 详细信息css */
.hover-window {
  position: relative;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 1);
  left:-50px;
  display: none;
}

/* 简略信息css */
.condensed-info {
  text-align: center;
  margin: 20px 0 0 20px;
  width: 60px;
}
/* 固定图标css */
.faLock::before{
  display: inline-block;
  transform: rotate(45deg);
}

/* 输入框css */
.search-input {
  position: relative;
  bottom: 7px;
  left: 25px;
  width: 40%;
  height: 26px;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 1px 2px #868686;
  background: rgba(255, 255, 255, 0);
}
.search-input-for-big {
  width: 50%;
  min-width: 276px;
  height: 26px;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 1px 2px #868686;
}

/* 分页栏css */
.pagination {
  width: 100%;
  text-align: center;
  position: relative;
}
.pagination i {
  font-size: 2px;
  color: #ccc;
  margin-right: 10px;
}

/* z-inde相关css */
/* .z-index-div-wrapper{
  position: relative;
  width:140px;
  border-top:1px solid #f2f2f2;
  border-radius: 5px;
  border-width: 0 1px 1px 1px; 
  left:40px;
  top:40px;
  display: none;
  z-index:1000;
}
.z-index-div{
  height:25px;
  padding: 2px 0;
  text-align: center;
  border:solid #f2f2f2;
  border-width: 0 1px 1px 1px;
  background-color: #f9f9f9;
}
.z-index-icon-wrapper{
  width:50%;
  float:left;
  padding-left: px;
  font-size:3px;
}
.cur-z-index-div{
  background-color: #ccc;
} */
/*        非通用css结束       */

/*        通用css       */

/* 全局css */
body {
  height: 1000px;
}

/* 提示信息css */
.no-data-info{
  text-align: center;
  color: #bcbcbc;
}
i.fa:hover {
  cursor: pointer;
}

/* 颜色css */
.leave-color {
  background-color: #da4548;
}
.working-color {
  background-color: #59a7a7;
}
.vocation-color {
  background-color: #ccc;
}
.common-color {
  color: #56a7a7;
}
.female-color {
  color: #f47382;
}
.male-color {
  color: #5782bb;
}

/* 间距相关css */
.padding-10px {
  padding: 10px;
}
.padding-20px {
  padding: 20px;
}
.padding-top-20px {
  padding-top: 20px;
}
.remove-padding-top{
  padding-top: 0px;
}
.remove-padding-bottom {
  padding-bottom: 0px;
}
.margin-left-20px {
  margin-left: 20px;
}
.margin-right-20px {
  margin-right: 20px;
}
.margin-top-20px {
  margin-top: 20px;
}
.margin-bottom-10px{
  margin-bottom: 10px;
}
.margin-bottom-20px{
  margin-bottom: 20px;
}
.padding-left-10px {
  padding-left: 10px;
}
.padding-right-10px {
  padding-right: 10px;
}
.padding-right-20px {
  padding-right: 20px;
}



/* 字体css */
.font-size-20px {
  font-size: 20px;
}
.font-size-15px {
  font-size: 15px;
}
.font-size-13px{
  font-size: 13px;
}
.font-size-10px{
  font-size: 10px;
}
.font-size-5px{
  font-size: 5px;
}
.clear-float {
  float: left;
}

/* 通用class定义 */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.z-index-20 {
  z-index: 20;
}

/* 相对移动css */
.top-move-3px {
  position: relative;
  top: -3px;
}
.top-move-20px {
  position: relative;
  top: -20px;
}

/*        通用css结束       */
