
#myDiv{
	position: absolute;
	border:2px solid red;
	width:300px;
	height:50px;
	min-width: 100px;
	min-height: 100px;
	left: 100px;
	top: 300px
}#parentDiv{
	position: absolute;
	border:2px solid red;
	width:99.75%;
	height:800px;
	min-width: 100px;
	min-height: 100px;
	left: 0px;
	top: 0;
}
#otherDiv{
	position: absolute;
	border: 2px solid blue;
	width: 200px;
	height: 200px;
	left: 300px;
	top:400px;
}
#mask{
	opacity:0.2;
	top:0px;
	left:0px;
	right:0px;
	bottom: 0px;
	background-color:lightgreen;
	position:absolute;
	z-index:9999;
}
#ttt{
	position: absolute;
	width:100px;
	height: 100px;
	background: red;
}